@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Press+Start+2P&display=swap');
body {
    background-color: #FFC473;
}


/*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200; симпатичный шрифт*/

header {
    background-color: #FF9400;
}

.switchMode {
    background-color: blanchedalmond;
}


/* .countStyle {
    background-color: #e7b6ac;
} */

footer {
    background-color: #FFD040;
}

#Start {
    border-color: crimson;
    background-color: #5ba9b800;
    color: black;
}