@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Press+Start+2P&display=swap');
body {
    background-color: #FFC473;
}


/*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200; симпатичный шрифт*/

header {
    background-color: #FF9400;
}
a,
h2,
h3,
#coords {
    color: #A63100;
}

#switchMode {
    background-color: #FFAE40;
    color: #A63100;
}


/* .countStyle {
    background-color: #e7b6ac;
} */

footer {
    background-color: #FFD040;
}

#Start {
    border-color: crimson;
    background-color: #FFAE40;
    color: #A63100;
}